.detail-container{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-image: url('../../images/background.jpg');
}
.dogscardD {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 590px;
    border-radius: 20px;
    background: #f5f5f5;
    position: relative;
    padding: 1.8rem;
    border: 3px solid white;
    transition: 0.5s ease-out;
    overflow: visible;
    margin: 60px;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 3, 3);
   }
   
   .dogscard-detailsD{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: black;
    height: 300px;
    gap: .5em;
    place-content: center;
    background: white;
    border-radius: 20px; 
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25); 
   }
   .text-titleD {
    display: flex;
    justify-content:center;
    height: 150px;
    width: 700px;
    font-size: 2em;
    font-weight: bold;
    color: #333;
    }
    .text-bodyD {
        color: #333;
        text-decoration: none;
        margin: 2px;
        width: 65%;
       }

    .cardtitleD{
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-right: 3%;
        margin-left: 1%;
    }
    
   .dogimageD{
    border-radius: 10%;
    box-shadow: 0px 0px 15px 15px rgb(35, 112, 71);
    -webkit-box-shadow: 0px 0px 6px 6px rgb(64, 194, 125);
    height: 300px;
    width: 430px;
    object-fit: fill;
    margin-bottom: 25px;
    margin-top: 45px;
    }
    .colored{
        width: 27%;
        color:rgb(64, 194, 125);
        margin: 2px;
    }
    .lineup{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .delete {
        display: flex;
        padding: 1.3em 3em;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 700;
        color: #000;
        background-color: #fff;
        border: solid rgb(227, 82, 62) 2px;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(172, 50, 50, 0.852);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        align-self: flex-start;
        margin-left: 50px;
        margin-top: 20px;
      }
      
      .delete:hover {
        background-color: rgb(209, 101, 91);
        box-shadow: 0px 8px 15px rgba(172, 50, 50, 0.852);;
        color: #fff;
        transform: translateY(-7px);
      }
      
      .delete:active {
        transform: translateY(-1px);
      }